{% extends 'base.html' %}
{% block title %}Informacion Disponible{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row" >
		<div class="col-lg-12">
            <h1 class="page-header">
                SPP
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i><a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Lista de proyectores
                </li>
                <li class="active">
                    <i class="fa fa-plus-square"></i><a href="addProyector/"> Agregar un nuevo</a>
                </li>
            </ol>
        </div>
    </div>
        <div class="row">
        	<div class="col-lg-12">
        		<div class="table-responsive">
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Existencias</th>
                       <!-- <th>Activo</th> -->
                        <th>Operaciones</th>
                    </thead>
                    <tbody>
                        {% for item in pro %}
                            {% if item.estado %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.Marca}} </td>
                                <td>{{item.Modelo}}</td>
                                <td>{{item.Cantidad}}</td>
                               <!-- <td>{% if item.estado %} Sí {% else %} No{%endif%}</td> -->
                                <td><a href="editarProyector/{{item.id}}/">Editar <span class="glyphicon glyphicon-pencil"></span></a> |
                                <a href="delProyector/{{item.id}}/">Eliminar <span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
        		</div>
<!-- Paginacion -->
            {% if pro %}
                <ul class="pager">
                    {% if pro.has_previous %}
                        <li ><a href="?page={{pro.previous_page_number}}">Anterior</a></li>
                    {% endif %}
                    <span class="current"> Pagina {{pro.number}} de {{pro.paginator.num_pages}}</span>
                    {% if pro.has_next %}
                        <li ><a href="?page={{pro.next_page_number}}">Siguiente</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            </div>
<!-- fin de la paginacion -->
        </div>
</div>
{%endblock%}